In [54]:
# import modules
import os
import pandas as pd

In [55]:
cityData = pd.read_csv('Resources/output_data/cities.csv',index_col=[0])
cityData.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Road Town,18.4167,-64.6167,82.72,74.0,12.0,14.88,VG,1.663050e+09
1,Tasiilaq,65.6145,-37.6368,39.36,87.0,51.0,8.12,GL,1.663051e+09
2,Verkhotur'ye,58.8627,60.8054,56.77,54.0,67.0,5.68,RU,1.663051e+09
3,Pevek,69.7008,170.3133,35.85,87.0,100.0,5.48,RU,1.663051e+09
4,Bluff,-46.6000,168.3333,41.52,62.0,97.0,23.26,NZ,1.663051e+09

In [65]:
cityData = cityData[['City','Country','Cloudiness','Date', 'Humidity','Lat','Lng','Max Temp','Wind Speed']]
cityData.head()

,City,Country,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Road Town,VG,12.0,1.663050e+09,74.0,18.4167,-64.6167,82.72,14.88
1,Tasiilaq,GL,51.0,1.663051e+09,87.0,65.6145,-37.6368,39.36,8.12
2,Verkhotur'ye,RU,67.0,1.663051e+09,54.0,58.8627,60.8054,56.77,5.68
3,Pevek,RU,100.0,1.663051e+09,87.0,69.7008,170.3133,35.85,5.48
4,Bluff,NZ,97.0,1.663051e+09,62.0,-46.6000,168.3333,41.52,23.26

In [66]:
cityData.count()

City          596
Country       533
Cloudiness    537
Date          537
Humidity      537
Lat           537
Lng           537
Max Temp      537
Wind Speed    537
dtype: int64

In [67]:
newcityData = cityData.copy()
newcityData.dropna(inplace=True)
newcityData.count()

City          533
Country       533
Cloudiness    533
Date          533
Humidity      533
Lat           533
Lng           533
Max Temp      533
Wind Speed    533
dtype: int64

In [68]:

#newcityData['Date'] = pd.to_datetime(cityData['Date'],unit='s')
#newcityData['Date'] = newcityData['Date'].dt.strftime('%m-%d-%Y')
newcityData.head()

,City,Country,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Road Town,VG,12.0,1.663050e+09,74.0,18.4167,-64.6167,82.72,14.88
1,Tasiilaq,GL,51.0,1.663051e+09,87.0,65.6145,-37.6368,39.36,8.12
2,Verkhotur'ye,RU,67.0,1.663051e+09,54.0,58.8627,60.8054,56.77,5.68
3,Pevek,RU,100.0,1.663051e+09,87.0,69.7008,170.3133,35.85,5.48
4,Bluff,NZ,97.0,1.663051e+09,62.0,-46.6000,168.3333,41.52,23.26

In [61]:
newcityData.to_html('tableData.html', index=True, classes=['table', 'table-striped', 'table-hover'])