In [1]:
# import modules
import os
import pandas as pd

In [3]:
cityData = pd.read_csv('Resources/cities.csv')
cityData.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Aklavik,68.2191,-135.0107,64.58,66.0,100.0,4.36,CA,1.660790e+09
1,1,Paamiut,61.9940,-49.6678,41.77,88.0,17.0,12.30,GL,1.660790e+09
2,2,Ust-Tsilma,65.4410,52.1498,53.98,75.0,24.0,4.79,RU,1.660790e+09
3,3,viligili,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,illoqqortoormiut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
cityData.to_html('tableData.html', index=False, classes=['table', 'table-striped', 'table-hover'])