In [1]:
# import modules
import os
import pandas as pd

In [12]:
cityData = pd.read_csv('Resources/output_data/cities.csv')
cityData.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Road Town,18.4167,-64.6167,82.72,74.0,12.0,14.88,VG,1.663050e+09
1,1,Tasiilaq,65.6145,-37.6368,39.36,87.0,51.0,8.12,GL,1.663051e+09
2,2,Verkhotur'ye,58.8627,60.8054,56.77,54.0,67.0,5.68,RU,1.663051e+09
3,3,Pevek,69.7008,170.3133,35.85,87.0,100.0,5.48,RU,1.663051e+09
4,4,Bluff,-46.6000,168.3333,41.52,62.0,97.0,23.26,NZ,1.663051e+09

cityData.rename(index={'0', 'City Id'})
cityData = cityData[['City Id','City','Country','Lat','Lng','Max Temp', 'Humidity','Cloudiness','Wind Speed','Date']]
cityData.head()

In [13]:
cityData.count()

Unnamed: 0    596
City          596
Lat           537
Lng           537
Max Temp      537
Humidity      537
Cloudiness    537
Wind Speed    537
Country       533
Date          537
dtype: int64

In [14]:
cityData.dropna(inplace=True)
cityData.count()

Unnamed: 0    533
City          533
Lat           533
Lng           533
Max Temp      533
Humidity      533
Cloudiness    533
Wind Speed    533
Country       533
Date          533
dtype: int64

In [11]:

cityData['Date'] = pd.to_datetime(cityData['Date'],unit='s')
cityData['Date'] = cityData['Date'].dt.strftime('%d-%m-%Y %H:%M')
cityData.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,jacareacanga,BR,-6.22,-57.76,89.60,62,0,6.93,13-06-2018 15:00
1,1,kaitangata,NZ,-46.28,169.85,42.61,94,100,5.64,13-06-2018 15:55
2,2,goulburn,AU,-34.75,149.72,44.32,91,20,10.11,13-06-2018 15:51
3,3,lata,IN,30.78,78.62,59.89,89,76,0.94,13-06-2018 15:55
4,4,chokurdakh,RU,70.62,147.90,32.17,88,0,2.95,13-06-2018 15:55

In [9]:
cityData.to_html('tableData.html', index=False, classes=['table', 'table-striped', 'table-hover'])